version: '3.8'

services:
  postgres:
    image: postgres:16
    networks:
      - s4s-backend
    restart: always
    environment:
      POSTGRES_DB: s4s
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 3s
      timeout: 5s
      retries: 5
    volumes:
      - ./tmp/pgdata:/var/lib/postgresql/data
      - ./internal/db/initdb/:/docker-entrypoint-initdb.d/

  redis:
    image: redis:7
    networks:
      - s4s-backend
    restart: always
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    networks:
      - s4s-backend
    restart: always
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s
    ports:
      - "5672:5672"
      - "15672:15672" # management UI

  backend:
    build: .
    restart: always
    networks:
      - s4s-backend
    ports:
      - "8080:8080"
    volumes:
      - ./logs:/app/logs
      - ./tmp:/app/tmp
      - ./internal/modules/admin/uploads:/app/internal/modules/admin/uploads
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - DB_HOST=postgres
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=s4s
      - DB_PORT=5432
      - REDIS_ADDR=redis:6379
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

networks:
  s4s-backend:
    driver: bridge

volumes:
  pgdata:
  redis_data:
